/* create-form */
.create-title{
    margin:0;
    margin-left:5px;
    margin-bottom:5px;
    font-size:14px;
    margin-top: 2rem;
}

.create-input1{
    border:none;
    border-radius:10px;
    background-color:#eeeeee;
    width:50vw;
    height:3rem;
    padding-left: 1rem;
}

.create-input2{
    border:none;
    border-radius:10px;
    background-color:#eeeeee;
    width:50vw;
    height:6rem;
    padding-left: 1rem;
    padding-top:1rem;
}

.create-tag{
    font-size:13px;
    font-weight:bold;
    color:#00A968;
    background-color:white;
    padding:0.3rem 1.5rem;
    border-radius: 10px;
    margin: 1rem 0 0 1rem;
}

.create-tag:hover{
    color:white;
    background-color:#00A968;
}

.tags-box{
    width:52vw;
    border-radius: 10px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-color:#eeeeee;
    padding-bottom:1rem;
}

.create-submit{
    margin-top:2rem;
    padding:1rem;
    background-color:#00A968;
    color:white;
    width:50vw;
    border-radius:10px;
    text-align:center;
    font-size:14px;
    font-weight:bold;
}

.create-submit:hover{
    background-color:rgb(50, 50, 50);
    color:white;
}