.study-page-body{
    padding:7rem 3rem;
}

/* search */
.search-bar {
    display: flex;
}

.search-input-container {
display: flex;
align-items: center;
border:1px solid lightgray;
border-radius: 5rem;
padding: 8px;
}

.search-input-container input {
border: none;
outline: none;
flex: 1;
padding: 0 0 0 1rem;
width: 60vw;
}

.search-input-container button {
background: transparent;
border: none;
outline: none;
cursor: pointer;
padding: 0 1rem;
}

/* toggle */
.form-select {
display: block;
width: 20vw;
padding: 0.5rem 1rem;
font-size: 0.85rem;
font-weight: 400;
line-height: 1.5;
color: gray;
background-clip: padding-box;
border:1px solid lightgray;
border-radius: 5rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
margin-left:1rem;
}

.form-select:focus {
outline: 0;
}
  